<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.member.mapper.MemberMapper">
  <resultMap id="baseMap" type="org.igetwell.system.member.entity.Member">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="UNION_ID" jdbcType="VARCHAR" property="unionId" />
    <result column="MERCHANT_ID" jdbcType="BIGINT" property="merchantId" />
    <result column="MERCHANT_NO" jdbcType="VARCHAR" property="merchantNo" />
    <result column="MEMBER_NO" jdbcType="VARCHAR" property="memberNo" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName" />
    <result column="MEMBER_NICK_NAME" jdbcType="VARCHAR" property="memberNickName" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="baseSql">
    ID, UNION_ID, MERCHANT_ID, MERCHANT_NO, MEMBER_NO, MEMBER_NAME, MEMBER_NICK_NAME, 
    SEX, BIRTHDAY, MOBILE, CREATE_TIME
  </sql>

  <select id="get" parameterType="java.lang.Long" resultMap="baseMap">
    SELECT
        <include refid="baseSql" />
    FROM MEMBER
    WHERE ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM MEMBER
    WHERE ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="org.igetwell.system.member.entity.Member">
    INSERT INTO MEMBER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="unionId != null and unionId != ''">
        UNION_ID,
      </if>
      <if test="merchantId != null">
        MERCHANT_ID,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="memberNo != null">
        MEMBER_NO,
      </if>
      <if test="memberName != null">
        MEMBER_NAME,
      </if>
      <if test="memberNickName != null">
        MEMBER_NICK_NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="unionId != null and unionId != ''">
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberNickName != null">
        #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.igetwell.system.member.entity.Member">
    UPDATE MEMBER
    <set>
      <if test="unionId != null">
        UNION_ID = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        MERCHANT_ID = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="memberNo != null">
        MEMBER_NO = #{memberNo,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberNickName != null">
        MEMBER_NICK_NAME = #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>