<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.merchant.card.mapper.MerchantCardExpandMapper">
  <resultMap id="baseMap" type="org.igetwell.merchant.card.entity.MerchantCardExpand">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MERCHANT_CARD_ID" jdbcType="BIGINT" property="merchantCardId" />
    <result column="MERCHANT_NO" jdbcType="VARCHAR" property="merchantNo" />
    <result column="OPEN_METHOD" jdbcType="INTEGER" property="openMethod" />
    <result column="OPEN_MONEY" jdbcType="DECIMAL" property="openMoney" />
    <result column="OPEN_ATTR" jdbcType="VARCHAR" property="openAttr" />
    <result column="CARD_NOTICE" jdbcType="VARCHAR" property="cardNotice" />
    <result column="CARD_DESCRIPTION" jdbcType="VARCHAR" property="cardDescription" />
    <result column="CARD_PRIVILEGE" jdbcType="VARCHAR" property="cardPrivilege" />
    <result column="CARD_VALID_TYPE" jdbcType="INTEGER" property="cardValidType" />
    <result column="CARD_BEGIN" jdbcType="INTEGER" property="cardBegin" />
    <result column="CARD_END" jdbcType="INTEGER" property="cardEnd" />
    <result column="CARD_LIMIT_TIME" jdbcType="INTEGER" property="cardLimitTime" />
    <result column="CARD_LIMIT_BEGIN" jdbcType="VARCHAR" property="cardLimitBegin" />
    <result column="CARD_LIMIT_END" jdbcType="VARCHAR" property="cardLimitEnd" />
    <result column="ACTIVATE_TYPE" jdbcType="INTEGER" property="activateType" />
    <result column="DISPLAY_POINT" jdbcType="INTEGER" property="displayPoint" />
    <result column="CARD_POINT_URL" jdbcType="VARCHAR" property="cardPointUrl" />
    <result column="CARD_SUPPORT_BALANCE" jdbcType="INTEGER" property="cardSupportBalance" />
    <result column="CARD_BALANCE_URL" jdbcType="VARCHAR" property="cardBalanceUrl" />
    <result column="CARD_DISPLAY_FIELD" jdbcType="VARCHAR" property="cardDisplayField" />
    <result column="CARD_DISPLAY_BAR" jdbcType="INTEGER" property="cardDisplayBar" />
    <result column="CARD_CENTER_TYPE" jdbcType="INTEGER" property="cardCenterType" />
    <result column="CARD_CENTER_BUTTON" jdbcType="VARCHAR" property="cardCenterButton" />
    <result column="CARD_CENTER_TIPS" jdbcType="VARCHAR" property="cardCenterTips" />
    <result column="CARD_LIMIT" jdbcType="INTEGER" property="cardLimit" />
    <result column="SUPPORT_STORES" jdbcType="INTEGER" property="supportStores" />
  </resultMap>

  <sql id="baseSql">
    ID, MERCHANT_CARD_ID, MERCHANT_NO, OPEN_METHOD, OPEN_MONEY, OPEN_ATTR, CARD_NOTICE, 
    CARD_DESCRIPTION, CARD_PRIVILEGE, CARD_VALID_TYPE, CARD_BEGIN, CARD_END, CARD_LIMIT_TIME, 
    CARD_LIMIT_BEGIN, CARD_LIMIT_END, ACTIVATE_TYPE, DISPLAY_POINT, CARD_POINT_URL, CARD_SUPPORT_BALANCE, 
    CARD_BALANCE_URL, CARD_DISPLAY_FIELD, CARD_DISPLAY_BAR, CARD_CENTER_TYPE, CARD_CENTER_BUTTON, 
    CARD_CENTER_TIPS, CARD_LIMIT, SUPPORT_STORES
  </sql>

  <select id="get" parameterType="java.lang.Long" resultMap="baseMap">
    SELECT
        <include refid="baseSql" />
    FROM MERCHANT_CARD_EXPAND
    where MERCHANT_CARD_ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM MERCHANT_CARD_EXPAND WHERE ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="org.igetwell.merchant.card.entity.MerchantCardExpand" useGeneratedKeys="true">
    INSERT INTO MERCHANT_CARD_EXPAND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merchantCardId != null">
        MERCHANT_CARD_ID,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="openMethod != null">
        OPEN_METHOD,
      </if>
      <if test="openMoney != null">
        OPEN_MONEY,
      </if>
      <if test="openAttr != null">
        OPEN_ATTR,
      </if>
      <if test="cardNotice != null">
        CARD_NOTICE,
      </if>
      <if test="cardDescription != null">
        CARD_DESCRIPTION,
      </if>
      <if test="cardPrivilege != null">
        CARD_PRIVILEGE,
      </if>
      <if test="cardValidType != null">
        CARD_VALID_TYPE,
      </if>
      <if test="cardBegin != null">
        CARD_BEGIN,
      </if>
      <if test="cardEnd != null">
        CARD_END,
      </if>
      <if test="cardLimitTime != null">
        CARD_LIMIT_TIME,
      </if>
      <if test="cardLimitBegin != null">
        CARD_LIMIT_BEGIN,
      </if>
      <if test="cardLimitEnd != null">
        CARD_LIMIT_END,
      </if>
      <if test="activateType != null">
        ACTIVATE_TYPE,
      </if>
      <if test="displayPoint != null">
        DISPLAY_POINT,
      </if>
      <if test="cardPointUrl != null">
        CARD_POINT_URL,
      </if>
      <if test="cardSupportBalance != null">
        CARD_SUPPORT_BALANCE,
      </if>
      <if test="cardBalanceUrl != null">
        CARD_BALANCE_URL,
      </if>
      <if test="cardDisplayField != null">
        CARD_DISPLAY_FIELD,
      </if>
      <if test="cardDisplayBar != null">
        CARD_DISPLAY_BAR,
      </if>
      <if test="cardCenterType != null">
        CARD_CENTER_TYPE,
      </if>
      <if test="cardCenterButton != null">
        CARD_CENTER_BUTTON,
      </if>
      <if test="cardCenterTips != null">
        CARD_CENTER_TIPS,
      </if>
      <if test="cardLimit != null">
        CARD_LIMIT,
      </if>
      <if test="supportStores != null">
        SUPPORT_STORES,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="merchantCardId != null">
        #{merchantCardId,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="openMethod != null">
        #{openMethod,jdbcType=INTEGER},
      </if>
      <if test="openMoney != null">
        #{openMoney,jdbcType=DECIMAL},
      </if>
      <if test="openAttr != null">
        #{openAttr,jdbcType=VARCHAR},
      </if>
      <if test="cardNotice != null">
        #{cardNotice,jdbcType=VARCHAR},
      </if>
      <if test="cardDescription != null">
        #{cardDescription,jdbcType=VARCHAR},
      </if>
      <if test="cardPrivilege != null">
        #{cardPrivilege,jdbcType=VARCHAR},
      </if>
      <if test="cardValidType != null">
        #{cardValidType,jdbcType=INTEGER},
      </if>
      <if test="cardBegin != null">
        #{cardBegin,jdbcType=INTEGER},
      </if>
      <if test="cardEnd != null">
        #{cardEnd,jdbcType=INTEGER},
      </if>
      <if test="cardLimitTime != null">
        #{cardLimitTime,jdbcType=INTEGER},
      </if>
      <if test="cardLimitBegin != null">
        #{cardLimitBegin,jdbcType=VARCHAR},
      </if>
      <if test="cardLimitEnd != null">
        #{cardLimitEnd,jdbcType=VARCHAR},
      </if>
      <if test="activateType != null">
        #{activateType,jdbcType=INTEGER},
      </if>
      <if test="displayPoint != null">
        #{displayPoint,jdbcType=INTEGER},
      </if>
      <if test="cardPointUrl != null">
        #{cardPointUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardSupportBalance != null">
        #{cardSupportBalance,jdbcType=INTEGER},
      </if>
      <if test="cardBalanceUrl != null">
        #{cardBalanceUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardDisplayField != null">
        #{cardDisplayField,jdbcType=VARCHAR},
      </if>
      <if test="cardDisplayBar != null">
        #{cardDisplayBar,jdbcType=INTEGER},
      </if>
      <if test="cardCenterType != null">
        #{cardCenterType,jdbcType=INTEGER},
      </if>
      <if test="cardCenterButton != null">
        #{cardCenterButton,jdbcType=VARCHAR},
      </if>
      <if test="cardCenterTips != null">
        #{cardCenterTips,jdbcType=VARCHAR},
      </if>
      <if test="cardLimit != null">
        #{cardLimit,jdbcType=INTEGER},
      </if>
      <if test="supportStores != null">
        #{supportStores,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.igetwell.merchant.card.entity.MerchantCardExpand">
    UPDATE MERCHANT_CARD_EXPAND
    <set>
      <if test="merchantCardId != null">
        MERCHANT_CARD_ID = #{merchantCardId,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="openMethod != null">
        OPEN_METHOD = #{openMethod,jdbcType=INTEGER},
      </if>
      <if test="openMoney != null">
        OPEN_MONEY = #{openMoney,jdbcType=DECIMAL},
      </if>
      <if test="openAttr != null">
        OPEN_ATTR = #{openAttr,jdbcType=VARCHAR},
      </if>
      <if test="cardNotice != null">
        CARD_NOTICE = #{cardNotice,jdbcType=VARCHAR},
      </if>
      <if test="cardDescription != null">
        CARD_DESCRIPTION = #{cardDescription,jdbcType=VARCHAR},
      </if>
      <if test="cardPrivilege != null">
        CARD_PRIVILEGE = #{cardPrivilege,jdbcType=VARCHAR},
      </if>
      <if test="cardValidType != null">
        CARD_VALID_TYPE = #{cardValidType,jdbcType=INTEGER},
      </if>
      <if test="cardBegin != null">
        CARD_BEGIN = #{cardBegin,jdbcType=INTEGER},
      </if>
      <if test="cardEnd != null">
        CARD_END = #{cardEnd,jdbcType=INTEGER},
      </if>
      <if test="cardLimitTime != null">
        CARD_LIMIT_TIME = #{cardLimitTime,jdbcType=INTEGER},
      </if>
      <if test="cardLimitBegin != null">
        CARD_LIMIT_BEGIN = #{cardLimitBegin,jdbcType=VARCHAR},
      </if>
      <if test="cardLimitEnd != null">
        CARD_LIMIT_END = #{cardLimitEnd,jdbcType=VARCHAR},
      </if>
      <if test="activateType != null">
        ACTIVATE_TYPE = #{activateType,jdbcType=INTEGER},
      </if>
      <if test="displayPoint != null">
        DISPLAY_POINT = #{displayPoint,jdbcType=INTEGER},
      </if>
      <if test="cardPointUrl != null">
        CARD_POINT_URL = #{cardPointUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardSupportBalance != null">
        CARD_SUPPORT_BALANCE = #{cardSupportBalance,jdbcType=INTEGER},
      </if>
      <if test="cardBalanceUrl != null">
        CARD_BALANCE_URL = #{cardBalanceUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardDisplayField != null">
        CARD_DISPLAY_FIELD = #{cardDisplayField,jdbcType=VARCHAR},
      </if>
      <if test="cardDisplayBar != null">
        CARD_DISPLAY_BAR = #{cardDisplayBar,jdbcType=INTEGER},
      </if>
      <if test="cardCenterType != null">
        CARD_CENTER_TYPE = #{cardCenterType,jdbcType=INTEGER},
      </if>
      <if test="cardCenterButton != null">
        CARD_CENTER_BUTTON = #{cardCenterButton,jdbcType=VARCHAR},
      </if>
      <if test="cardCenterTips != null">
        CARD_CENTER_TIPS = #{cardCenterTips,jdbcType=VARCHAR},
      </if>
      <if test="cardLimit != null">
        CARD_LIMIT = #{cardLimit,jdbcType=INTEGER},
      </if>
      <if test="supportStores != null">
        SUPPORT_STORES = #{supportStores,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>