<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.merchant.card.mapper.MerchantCardMapper">
  <resultMap id="baseMap" type="org.igetwell.merchant.card.entity.MerchantCard">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MERCHANT_ID" jdbcType="BIGINT" property="merchantId" />
    <result column="MERCHANT_NO" jdbcType="VARCHAR" property="merchantNo" />
    <result column="CARD_NAME" jdbcType="VARCHAR" property="cardName" />
    <result column="CARD_SUB_NAME" jdbcType="VARCHAR" property="cardSubName" />
    <result column="CARD_LOGO" jdbcType="VARCHAR" property="cardLogo" />
    <result column="CARD_BACK_URL" jdbcType="VARCHAR" property="cardBackUrl" />
    <result column="CARD_BACK_COLOR" jdbcType="VARCHAR" property="cardBackColor" />
    <result column="CARD_STATUS" jdbcType="INTEGER" property="cardStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="baseSql">
    ID, MERCHANT_ID, MERCHANT_NO, CARD_NAME, CARD_SUB_NAME, CARD_LOGO, CARD_BACK_URL, 
    CARD_BACK_COLOR, CARD_STATUS, CREATE_TIME
  </sql>

  <select id="get" parameterType="java.lang.Long" resultMap="baseMap">
    SELECT
        <include refid="baseSql" />
    FROM MERCHANT_CARD
    WHERE ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM MERCHANT_CARD WHERE ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="org.igetwell.merchant.card.entity.MerchantCard" useGeneratedKeys="true">
    INSERT INTO MERCHANT_CARD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merchantId != null">
        MERCHANT_ID,
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO,
      </if>
      <if test="cardName != null">
        CARD_NAME,
      </if>
      <if test="cardSubName != null">
        CARD_SUB_NAME,
      </if>
      <if test="cardLogo != null">
        CARD_LOGO,
      </if>
      <if test="cardBackUrl != null">
        CARD_BACK_URL,
      </if>
      <if test="cardBackColor != null">
        CARD_BACK_COLOR,
      </if>
      <if test="cardStatus != null">
        CARD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null">
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardSubName != null">
        #{cardSubName,jdbcType=VARCHAR},
      </if>
      <if test="cardLogo != null">
        #{cardLogo,jdbcType=VARCHAR},
      </if>
      <if test="cardBackUrl != null">
        #{cardBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardBackColor != null">
        #{cardBackColor,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null">
        #{cardStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.igetwell.merchant.card.entity.MerchantCard">
    UPDATE MERCHANT_CARD
    <set>
      <if test="merchantId != null">
        MERCHANT_ID = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="merchantNo != null">
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        CARD_NAME = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardSubName != null">
        CARD_SUB_NAME = #{cardSubName,jdbcType=VARCHAR},
      </if>
      <if test="cardLogo != null">
        CARD_LOGO = #{cardLogo,jdbcType=VARCHAR},
      </if>
      <if test="cardBackUrl != null">
        CARD_BACK_URL = #{cardBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="cardBackColor != null">
        CARD_BACK_COLOR = #{cardBackColor,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null">
        CARD_STATUS = #{cardStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>