<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.mapper.SystemDeptMapper">
  <resultMap id="baseMap" type="org.igetwell.system.entity.SystemDept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="ancestors" jdbcType="VARCHAR" property="ancestors" />
    <result column="dept_category" jdbcType="INTEGER" property="deptCategory" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="baseSql">
    ID, TENANT_ID, PARENT_ID, ANCESTORS, DEPT_CATEGORY, DEPT_NAME, FULL_NAME, SORT, REMARK,
    IS_DELETED
  </sql>
</mapper>