<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.mapper.SystemRoleMapper">
  <resultMap id="baseMap" type="org.igetwell.system.entity.SystemRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_ALIAS" jdbcType="VARCHAR" property="roleAlias" />
    <result column="DS_TYPE" jdbcType="INTEGER" property="dsType"/>
    <result column="DS_SCOPE" jdbcType="VARCHAR" property="dsScope"/>
  </resultMap>

  <sql id="baseSql">
    ID, TENANT_ID, PARENT_ID, ROLE_NAME, ROLE_ALIAS, DS_TYPE, DS_SCOPE
  </sql>

  <sql id="roleSql">
    ROLE.ID AS id, ROLE.ROLE_NAME AS roleName, ROLE.ROLE_ALIAS AS roleAlias
  </sql>

  <select id="getList" resultMap="baseMap">
    SELECT
        <include refid="baseSql" />
    FROM SYS_ROLE
  </select>

  <select id="getRoleNames" resultType="org.igetwell.system.vo.SystemRoleVo">
    SELECT
        <include refid="roleSql"></include>
    FROM SYS_ROLE ROLE
    WHERE
        ID IN
        <foreach collection="list" item="idList" index="index" open="(" close=")" separator=",">
          #{ids}
        </foreach>
    AND IS_DELETED = 0
  </select>

  <select id="loadByUser" resultType="org.igetwell.system.vo.SystemRoleVo">
    SELECT
        <include refid="roleSql"></include>
    FROM SYS_ROLE AS ROLE
    INNER JOIN SYS_USER SU ON ROLE.ID = SU.ROLE_ID
    WHERE ROLE.TENANT_ID = SU.TENANT_ID
    AND SU.ID = #{id}
  </select>

  <select id="loadByTenant" resultType="org.igetwell.system.vo.SystemRoleVo">
    SELECT
        <include refid="roleSql"></include>
    FROM SYS_ROLE AS ROLE
    INNER JOIN SYS_USER SU ON ROLE.ID = SU.ROLE_ID
    WHERE ROLE.TENANT_ID = SU.TENANT_ID
    AND SU.TENANT_ID = #{param1} AND SU.ID = #{param2}
  </select>

  <select id="getDsType" resultType="java.lang.Integer">
    SELECT * FROM SYS_ROLE WHERE ID = #{id}
  </select>

  <select id="getDataScopeType" resultType="java.lang.Integer">
    SELECT * FROM SYS_ROLE WHERE TENANT_ID = #{param1} AND ID = #{param2}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM SYS_ROLE WHERE ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.igetwell.system.entity.SystemRole" useGeneratedKeys="true">
    INSERT INTO SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tenantId != null and tenantId !=''">
        TENANT_ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="roleName != null and roleName !=''">
        ROLE_NAME,
      </if>
      <if test="roleAlias != null and roleAlias !=''">
        ROLE_ALIAS,
      </if>
      <if test="dsType != null">
        DS_TYPE,
      </if>
      <if test="dsScope != null">
        DS_SCOPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tenantId != null and tenantId !=''">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="roleName != null and roleName !=''">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleAlias != null and roleAlias !=''">
        #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="dsType != null">
        #{dsType,jdbcType=INTEGER},
      </if>
      <if test="dsScope != null">
        #{dsScope,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.igetwell.system.entity.SystemRole">
    UPDATE SYS_ROLE
    <set>
      <if test="tenantId != null and tenantId !=''">
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="roleName != null and roleName !=''">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleAlias != null and roleAlias !=''">
        ROLE_ALIAS = #{roleAlias,jdbcType=VARCHAR},
      </if>
      <if test="dsType != null">
        DS_TYPE = #{dsType,jdbcType=INTEGER},
      </if>
      <if test="dsScope != null">
        DS_SCOPE = #{dsScope,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>


</mapper>