<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.mapper.SystemUserMapper">
  <resultMap id="baseMap" type="org.igetwell.system.entity.SystemUser">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="DEPT_ID" jdbcType="VARCHAR" property="deptId" />
    <result column="IS_ENABLED" jdbcType="INTEGER" property="isEnabled" />
    <result column="ACCOUNT_NON_EXPIRED" jdbcType="INTEGER" property="accountNonExpired" />
    <result column="ACCOUNT_NON_LOCKED" jdbcType="INTEGER" property="accountNonLocked" />
    <result column="CREDENTIALS_NON_EXPIRED" jdbcType="INTEGER" property="credentialsNonExpired" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="CREATE_USER" jdbcType="BIGINT" property="createUser" />
    <result column="CREATE_DEPT" jdbcType="BIGINT" property="createDept" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="BIGINT" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>

  <resultMap id="baseListMap" type="org.igetwell.system.bean.SystemUserBean">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="TENANT_NAME" jdbcType="VARCHAR" property="tenantName" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="DEPT_ID" jdbcType="BIGINT" property="deptId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="IS_ENABLED" jdbcType="INTEGER" property="isEnabled" />
  </resultMap>

  <sql id="baseSql">
    ID, TENANT_ID, USERNAME, PASSWORD, EMAIL, MOBILE, BIRTHDAY, SEX,
    ROLE_ID, DEPT_ID, IS_ENABLED, ACCOUNT_NON_EXPIRED, ACCOUNT_NON_LOCKED, CREDENTIALS_NON_EXPIRED,
    LAST_LOGIN_TIME, CREATE_USER, CREATE_DEPT, CREATE_TIME, UPDATE_USER, UPDATE_TIME,
    IS_DELETED
  </sql>

  <sql id="securityLogin">
    ID, TENANT_ID, USERNAME, PASSWORD, EMAIL, PHONE, BIRTHDAY, SEX,
    ROLE_ID, DEPT_ID, IS_ENABLED, ACCOUNT_NON_EXPIRED, ACCOUNT_NON_LOCKED, CREDENTIALS_NON_EXPIRED,
    LAST_LOGIN_TIME, CREATE_USER, CREATE_DEPT, CREATE_TIME, UPDATE_USER, UPDATE_TIME,
    IS_DELETED
  </sql>

  <sql id="baseListSql">
    ID, TENANT_ID, USERNAME, ROLE_ID, DEPT_ID, EMAIL, MOBILE, BIRTHDAY, SEX,
    (SELECT TENANT_NAME FROM sys_tenant WHERE tenant_id = tenant_id) TENANT_NAME,
    (SELECT ROLE_NAME FROM sys_role WHERE id = role_id)ROLE_NAME,
    (SELECT NAME FROM sys_dept WHERE id = dept_id) DEPT_NAME,
    IS_ENABLED
  </sql>

  <select id="loadByUsername" resultMap="baseMap">
    SELECT
        <include refid="baseSql"/>
    FROM SYS_USER
    WHERE TENANT_ID = #{param1} AND USERNAME = #{param2} AND IS_DELETED = 0
  </select>

  <select id="loadByMobile" resultType="org.igetwell.system.entity.SystemUser">
    SELECT
      <include refid="baseSql"/>
    FROM SYS_USER
    WHERE MOBILE = #{mobile} AND IS_DELETED = 0
  </select>


  <select id="getList" resultMap="baseListMap" parameterType="org.igetwell.system.dto.SystemUserPageDto">
    SELECT
      <include refid="baseListSql" />
    FROM SYS_USER
    <where>
      <if test="username !=null and username != ''">
        AND USERNAME LIKE CONCAT('%',#{username},'%')
      </if>
      <if test="email !=null and email != ''">
        AND EMAIL = #{email}
      </if>
      <if test="mobile !=null and mobile != ''">
        AND MOBILE = #{mobile}
      </if>
    </where>
  </select>

  <insert id="insert" parameterType="org.igetwell.system.entity.SystemUser">
    INSERT INTO SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        ID,
      </if>
      <if test="tenantId != null and tenantId != ''">
        TENANT_ID,
      </if>
      <if test="username != null and username != ''">
        USERNAME,
      </if>
      <if test="password != null and password != ''">
        PASSWORD,
      </if>
      <if test="email != null and email != ''">
        EMAIL,
      </if>
      <if test="mobile != null and mobile != ''">
        MOBILE,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="sex != null and sex != ''">
        SEX,
      </if>
      <if test="roleId != null and roleId != ''">
        ROLE_ID,
      </if>
      <if test="deptId != null and deptId != ''">
        DEPT_ID,
      </if>
      <if test="isEnabled != null">
        IS_ENABLED,
      </if>
      <if test="accountNonExpired != null">
        ACCOUNT_NON_EXPIRED,
      </if>
      <if test="accountNonLocked != null">
        ACCOUNT_NON_LOCKED,
      </if>
      <if test="credentialsNonExpired != null">
        CREDENTIALS_NON_EXPIRED,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createDept != null">
        CREATE_DEPT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null and tenantId != ''">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="username != null and username != ''">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password != ''">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email != ''">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null and mobile != ''">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null and sex != ''">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="roleId != null and roleId != ''">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null and deptId != ''">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=INTEGER},
      </if>
      <if test="accountNonExpired != null">
        #{accountNonExpired,jdbcType=INTEGER},
      </if>
      <if test="accountNonLocked != null">
        #{accountNonLocked,jdbcType=INTEGER},
      </if>
      <if test="credentialsNonExpired != null">
        #{credentialsNonExpired,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createDept != null">
        #{createDept,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM SYS_USER WHERE ID= #{id}
  </delete>

  <update id="update" parameterType="org.igetwell.system.entity.SystemUser">
    UPDATE SYS_USER
    <set>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        IS_ENABLED = #{isEnabled,jdbcType=INTEGER},
      </if>
      <if test="accountNonExpired != null">
        ACCOUNT_NON_EXPIRED = #{accountNonExpired,jdbcType=INTEGER},
      </if>
      <if test="accountNonLocked != null">
        ACCOUNT_NON_LOCKED = #{accountNonLocked,jdbcType=INTEGER},
      </if>
      <if test="credentialsNonExpired != null">
        CREDENTIALS_NON_EXPIRED = #{credentialsNonExpired,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createDept != null">
        CREATE_DEPT = #{createDept,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>