<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.mapper.SystemOauthClientDetailsMapper">

  <resultMap id="baseMap" type="org.igetwell.system.entity.SystemOauthClientDetails">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CLIENT_ID" jdbcType="VARCHAR" property="clientId" />
    <result column="CLIENT_SECRET" jdbcType="VARCHAR" property="clientSecret" />
    <result column="RESOURCE_IDS" jdbcType="VARCHAR" property="resourceIds" />
    <result column="SCOPE" jdbcType="VARCHAR" property="scope" />
    <result column="AUTHORIZED_GRANT_TYPES" jdbcType="VARCHAR" property="authorizedGrantTypes" />
    <result column="WEB_SERVER_REDIRECT_URI" jdbcType="VARCHAR" property="webServerRedirectUri" />
    <result column="AUTHORITIES" jdbcType="VARCHAR" property="authorities" />
    <result column="ACCESS_TOKEN_VALIDITY" jdbcType="INTEGER" property="accessTokenValidity" />
    <result column="REFRESH_TOKEN_VALIDITY" jdbcType="INTEGER" property="refreshTokenValidity" />
    <result column="ADDITIONAL_INFORMATION" jdbcType="VARCHAR" property="additionalInformation" />
    <result column="AUTOAPPROVE" jdbcType="VARCHAR" property="autoapprove" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>

  <resultMap id="baseListMap" type="org.igetwell.system.bean.SystemOauthClientDetailsBean">
    <result column="CLIENT_ID" jdbcType="VARCHAR" property="clientId" />
    <result column="CLIENT_SECRET" jdbcType="VARCHAR" property="clientSecret" />
    <result column="SCOPE" jdbcType="VARCHAR" property="scope" />
    <result column="AUTHORIZED_GRANT_TYPES" jdbcType="VARCHAR" property="authorizedGrantTypes" />
    <result column="WEB_SERVER_REDIRECT_URI" jdbcType="VARCHAR" property="webServerRedirectUri" />
    <result column="ACCESS_TOKEN_VALIDITY" jdbcType="INTEGER" property="accessTokenValidity" />
    <result column="REFRESH_TOKEN_VALIDITY" jdbcType="INTEGER" property="refreshTokenValidity" />
    <result column="AUTOAPPROVE" jdbcType="VARCHAR" property="autoapprove" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="TENANT_NAME" jdbcType="VARCHAR" property="tenantName" />
  </resultMap>

  <sql id="baseSql">
    ID, CLIENT_ID, CLIENT_SECRET, RESOURCE_IDS, SCOPE, AUTHORIZED_GRANT_TYPES, WEB_SERVER_REDIRECT_URI,
    AUTHORITIES, ACCESS_TOKEN_VALIDITY, REFRESH_TOKEN_VALIDITY, ADDITIONAL_INFORMATION,
    AUTOAPPROVE, TENANT_ID
  </sql>

  <sql id="baseListSql">
    CLIENT_ID, CLIENT_SECRET, SCOPE, AUTHORIZED_GRANT_TYPES, WEB_SERVER_REDIRECT_URI,
    ACCESS_TOKEN_VALIDITY, REFRESH_TOKEN_VALIDITY, AUTOAPPROVE, TENANT_ID,
    (SELECT TENANT_NAME FROM SYS_TENANT WHERE TENANT_ID = SYS_OAUTH_CLIENT_DETAILS.TENANT_ID) TENANT_NAME
  </sql>


  <select id="get" resultMap="baseMap" parameterType="java.lang.String">
    SELECT
        <include refid="baseListSql" />
    FROM SYS_OAUTH_CLIENT_DETAILS
    WHERE CLIENT_ID = #{clientId}
  </select>

  <select id="getList" resultMap="baseListMap" parameterType="org.igetwell.system.dto.SystemOauthClientDetailsPageDto">
    SELECT
    <include refid="baseListSql" />
    FROM SYS_OAUTH_CLIENT_DETAILS
    <where>
      <if test="clientId !=null and clientId != ''">
        AND CLIENT_ID = #{clientId}
      </if>
      <if test="tenantId !=null and tenantId != ''">
        AND TENANT_ID = #{tenantId}
      </if>
    </where>
  </select>

  <delete id="deleteById" parameterType="java.lang.String">
    DELETE FROM SYS_OAUTH_CLIENT_DETAILS WHERE CLIENT_ID = #{clientId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="org.igetwell.system.entity.SystemOauthClientDetails">
    INSERT INTO SYS_OAUTH_CLIENT_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="clientId != null and clientId != ''">
        CLIENT_ID,
      </if>
      <if test="clientSecret != null and clientSecret != ''">
        CLIENT_SECRET,
      </if>
      <if test="resourceIds != null and resourceIds != ''">
        RESOURCE_IDS,
      </if>
      <if test="scope != null and scope != ''">
        `SCOPE`,
      </if>
      <if test="authorizedGrantTypes != null and authorizedGrantTypes != ''">
        AUTHORIZED_GRANT_TYPES,
      </if>
      <if test="webServerRedirectUri != null and webServerRedirectUri != ''">
        WEB_SERVER_REDIRECT_URI,
      </if>
      <if test="authorities != null and authorities != ''">
        AUTHORITIES,
      </if>
      <if test="accessTokenValidity != null">
        ACCESS_TOKEN_VALIDITY,
      </if>
      <if test="refreshTokenValidity != null">
        REFRESH_TOKEN_VALIDITY,
      </if>
      <if test="additionalInformation != null and additionalInformation != ''">
        ADDITIONAL_INFORMATION,
      </if>
      <if test="autoapprove != null and autoapprove != ''">
        AUTOAPPROVE,
      </if>
      <if test="tenantId != null and tenantId !=''">
        TENANT_ID,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientId != null and clientId !=''">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null and clientSecret !=''">
        #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="resourceIds != null and resourceIds !=''">
        #{resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="scope != null and scope !=''">
        #{scope,jdbcType=VARCHAR},
      </if>
      <if test="authorizedGrantTypes != null and authorizedGrantTypes !=''">
        #{authorizedGrantTypes,jdbcType=VARCHAR},
      </if>
      <if test="webServerRedirectUri != null and webServerRedirectUri !=''">
        #{webServerRedirectUri,jdbcType=VARCHAR},
      </if>
      <if test="authorities != null and authorities !=''">
        #{authorities,jdbcType=VARCHAR},
      </if>
      <if test="accessTokenValidity != null">
        #{accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="refreshTokenValidity != null">
        #{refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="additionalInformation != null and additionalInformation != ''">
        #{additionalInformation,jdbcType=VARCHAR},
      </if>
      <if test="autoapprove != null and autoapprove != ''">
        #{autoapprove,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null and tenantId != ''">
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.igetwell.system.entity.SystemOauthClientDetails">
    UPDATE SYS_OAUTH_CLIENT_DETAILS
    <set>
      <if test="clientId != null and clientId != ''">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null and clientSecret != ''">
        client_secret = #{clientSecret,jdbcType=VARCHAR},
      </if>
      <if test="resourceIds != null and resourceIds != ''">
        resource_ids = #{resourceIds,jdbcType=VARCHAR},
      </if>
      <if test="scope != null and scope != ''">
        `scope` = #{scope,jdbcType=VARCHAR},
      </if>
      <if test="authorizedGrantTypes != null and authorizedGrantTypes != ''">
        authorized_grant_types = #{authorizedGrantTypes,jdbcType=VARCHAR},
      </if>
      <if test="webServerRedirectUri != null and webServerRedirectUri != ''">
        web_server_redirect_uri = #{webServerRedirectUri,jdbcType=VARCHAR},
      </if>
      <if test="authorities != null and authorities != ''">
        authorities = #{authorities,jdbcType=VARCHAR},
      </if>
      <if test="accessTokenValidity != null">
        access_token_validity = #{accessTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="refreshTokenValidity != null">
        refresh_token_validity = #{refreshTokenValidity,jdbcType=INTEGER},
      </if>
      <if test="additionalInformation != null and additionalInformation != ''">
        additional_information = #{additionalInformation,jdbcType=VARCHAR},
      </if>
      <if test="autoapprove != null and autoapprove != ''">
        AUTOAPPROVE = #{autoapprove,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null and tenantId != ''">
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE ID = #{id,jdbcType=BIGINT}
  </update>

</mapper>