<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.order.mapper.TradeOrderMapper">
  <resultMap id="baseMap" type="org.igetwell.system.order.entity.TradeOrder">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TRADE_NO" jdbcType="VARCHAR" property="tradeNo" />
    <result column="TRANSACTION_ID" jdbcType="VARCHAR" property="transactionId" />
    <result column="MCH_ID" jdbcType="BIGINT" property="mchId" />
    <result column="MCH_NO" jdbcType="VARCHAR" property="mchNo" />
    <result column="ORDER_TYPE" jdbcType="INTEGER" property="orderType" />
    <result column="CHANNEL_ID" jdbcType="BIGINT" property="channelId" />
    <result column="CHANNEL_NAME" jdbcType="VARCHAR" property="channelName" />
    <result column="FEE" jdbcType="DECIMAL" property="fee" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="CLIENT_IP" jdbcType="VARCHAR" property="clientIp" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="SUCCESS_TIME" jdbcType="VARCHAR" property="successTime" />
    <result column="GOODS_ID" jdbcType="BIGINT" property="goodsId" />
    <result column="BODY" jdbcType="VARCHAR" property="body" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="baseSql">
    ID, TRADE_NO, TRANSACTION_ID, MCH_ID, MCH_NO, ORDER_TYPE, CHANNEL_ID, (SELECT CHANNEL_NAME FROM CHANNEL WHERE ID = CHANNEL_ID) CHANNEL_NAME,
     FEE, CURRENCY, CLIENT_IP, `STATUS`,
    SUCCESS_TIME, GOODS_ID, BODY, CREATE_TIME
  </sql>
  <select id="get" parameterType="java.lang.Long" resultMap="baseMap">
    SELECT
        <include refid="baseSql" />
    FROM TRADE_ORDER
    WHERE ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="getOrder" parameterType="java.lang.String" resultMap="baseMap">
    SELECT
    <include refid="baseSql" />
    FROM TRADE_ORDER
    WHERE TRADE_NO = #{tradeNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM TRADE_ORDER
    WHERE ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="org.igetwell.system.order.entity.TradeOrder">
    INSERT INTO TRADE_ORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="tradeNo != null and tradeNo !=''">
        TRADE_NO,
      </if>
      <if test="transactionId != null and transactionId !=''">
        TRANSACTION_ID,
      </if>
      <if test="mchId != null">
        MCH_ID,
      </if>
      <if test="mchNo != null and mchNo != ''">
        MCH_NO,
      </if>
      <if test="orderType != null">
        ORDER_TYPE,
      </if>
      <if test="channelId != null">
        CHANNEL_ID,
      </if>
      <if test="fee != null">
        FEE,
      </if>
      <if test="currency != null and currency != ''">
        CURRENCY,
      </if>
      <if test="clientIp != null and clientIp !=''">
        CLIENT_IP,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="successTime != null and successTime !=''">
        SUCCESS_TIME,
      </if>
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="body != null and body !=''">
        BODY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tradeNo != null and tradeNo !=''">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null and transactionId !=''">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=BIGINT},
      </if>
      <if test="mchNo != null and mchNo !=''">
        #{mchNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=BIGINT},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="currency != null and currency != ''">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null and clientIp !=''">
        #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="successTime != null and successTime !=''">
        #{successTime,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="body != null and body !=''">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="org.igetwell.system.order.entity.TradeOrder">
    UPDATE TRADE_ORDER
    <set>
      <if test="tradeNo != null and tradeNo !=''">
        TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null and transactionId !=''">
        TRANSACTION_ID = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        MCH_ID = #{mchId,jdbcType=BIGINT},
      </if>
      <if test="mchNo != null and mchNo !=''">
        MCH_NO = #{mchNo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        ORDER_TYPE = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        CHANNEL_ID = #{channelId,jdbcType=BIGINT},
      </if>
      <if test="fee != null">
        FEE = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="currency != null and currency != ''">
        CURRENCY = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="clientIp != null and clientIp !=''">
        CLIENT_IP = #{clientIp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=INTEGER},
      </if>
      <if test="successTime != null and successTime !=''">
        SUCCESS_TIME = #{successTime,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        GOODS_ID = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="body != null and body !=''">
        BODY = #{body,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE ID = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateOrderStatus">
    UPDATE TRADE_ORDER SET `STATUS` = #{param2,jdbcType=INTEGER} WHERE ID = #{param1,jdbcType=BIGINT}
  </update>

  <update id="updateStatus">
    UPDATE TRADE_ORDER SET `STATUS` = #{param2,jdbcType=INTEGER} WHERE TRADE_NO = #{param1,jdbcType=VARCHAR}
  </update>
</mapper>