<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.auth.mapper.SystemRoleMapper">
  <resultMap id="baseMap" type="org.igetwell.system.entity.SystemRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>

  <sql id="baseSql">
    ID, TENANT_ID, PARENT_ID, ROLE_NAME, SORT, ROLE_ALIAS, IS_DELETED
  </sql>

  <sql id="roleSql">
    ROLE.ID AS id, ROLE.ROLE_NAME AS roleName, ROLE.ROLE_ALIAS AS roleAlias
  </sql>

  <select id="getList" resultMap="baseMap">
    SELECT
        <include refid="baseSql" />
    FROM SYS_ROLE
  </select>

  <select id="getRoleNames" resultType="org.igetwell.system.vo.SystemRoleVo">
    SELECT
        <include refid="roleSql"></include>
    FROM SYS_ROLE ROLE
    WHERE
        ID IN
        <foreach collection="list" item="idList" index="index" open="(" close=")" separator=",">
          #{ids}
        </foreach>
    AND IS_DELETED = 0
  </select>

  <select id="loadByUser" resultType="org.igetwell.system.vo.SystemRoleVo">
    SELECT
        <include refid="roleSql"></include>
    FROM SYS_ROLE AS ROLE
    INNER JOIN SYS_USER SU ON ROLE.ID = SU.ROLE_ID
    WHERE ROLE.TENANT_ID = SU.TENANT_ID
    AND SU.ID = #{id}
  </select>

  <select id="loadByTenant" resultType="org.igetwell.system.vo.SystemRoleVo">
    SELECT
        <include refid="roleSql"></include>
    FROM SYS_ROLE AS ROLE
    INNER JOIN SYS_USER SU ON ROLE.ID = SU.ROLE_ID
    WHERE ROLE.TENANT_ID = SU.TENANT_ID
    AND SU.TENANT_ID = #{param1} AND SU.ID = #{param2}
  </select>


</mapper>